<footer class="footer">
    <div class="footer-content">
        <span class="logo">SABOR & ARTE</span>
        
        <nav class="menu-items">
            <a mat-button href="#about">Sobre</a>
            <a mat-button href="#menu">Menu</a>
            <a mat-button href="#services">Cardápio</a>
            <a mat-button href="#contact">Contato</a>
        </nav>

        <div class="icons">
            <img src="/whatsapp-icon.png" alt="whatsapp" width="30px" height="30px">
            <img src="/Instagram-icon.png" alt="instagram" width="30px" height="30px">
            <img src="/facebook-icon.png" alt="facebook" width="30px" height="30px">
            <img src="/x-icon.png" alt="x" width="30px" height="30px">
        </div>
    </div>

    <hr class="footer-divider">
    <span class="copyright">Sabor & Arte © 2024 - Todos os direitos reservados</span>
</footer>
