<footer class="footer">
    <div class="footer-content">
        <span class="logo">SABOR & ARTE</span>
        
        <nav class="menu-items">
            <a mat-button href="#about-container">Sobre</a>
            <a mat-button href="#cardapio-container">Cardápio</a>
            <a mat-button href="#gallery">Galeria</a>
            <a mat-button href="#contact-form-container">Contato</a>
        </nav>

        <div class="icons">
            <a href="https://wa.me/5521912341234" target="_blank">
                <img ngSrc="/whatsapp-icon.png" alt="whatsapp" width="30" height="30" loading="lazy">
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <img ngSrc="/Instagram-icon.png" alt="instagram" width="30" height="30"  loading="lazy">
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <img ngSrc="/facebook-icon.png" alt="facebook" width="30" height="30"  loading="lazy">
            </a>
            <a href="https://x.com/" target="_blank">
                <img ngSrc="/x-icon.png" alt="x" width="30" height="30"  loading="lazy">
            </a>
        </div>
    </div>

    <hr class="footer-divider">
    <span class="copyright">Sabor & Arte © 2024 - Todos os direitos reservados</span>
</footer>
