@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

/* --------------- NAVBAR ----------------- */

mat-toolbar {
  background-color: #27438A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  .logo {
    color: white;
    margin-left: 15px;
    font-family: 'Irish Grover', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
  }

  .spacer {
    flex: 1;
  }

  .menu-items {
    display: flex; 
    gap: 15px;

    a {
      font-size: 1rem;
      color: white;
      text-transform: capitalize;
      font-weight: 500;
    }

    button{
      margin-left: 80px;
      margin-right: 20px;
      padding: 10px 40px 10px 40px;
      border-radius: 10px;
      color: #fff;
      background-image: linear-gradient(to bottom, #BE2C9A, #620C85);
    }
  }
}