#contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 200px;
}

fieldset{
    border: 1px solid #747474;
    border-radius: 30px;
    margin:100px;
    padding: 10px;
}
.contact-form {
    border-radius: 15px;
    width: 92%;
    margin-top: 100px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}


.contact-form h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}

.form-group label {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
    margin-left: 100px;
    color: #fff;
    text-align: left;
    width: 100%;
}

.form-group input,
.form-group textarea {
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
    margin-bottom: 15px;
    background-color: #fff;
    color: #333;
    display: block;
    margin: 0 auto;
}

.form-group textarea {
    height: 180px;
    resize: vertical;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 400px;
    margin-top: 20px;
    margin-right: 40px;
    float: right;
    padding-bottom: 50px;
}

.contact-form button {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

.contact-form button[type="submit"] {
    background-color: #27438A;
    color: white;
    width: 30%;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 12px 120px 10px 45px;
    border-radius: 10px;
}

.contact-form button[type="reset"] {
    background-color: #FF2C2C;
    color: white;
    width: 30%;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 12px 120px 10px 45px;
    border-radius: 10px;
}

.contact-form button:hover {
    opacity: 0.8;
}


.form-group input::placeholder,
.form-group textarea::placeholder {
    font-size: 1rem;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #999;
    font-style: italic;
}


.form-group textarea::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-style: italic;
}