<section id="contact-form-container">
    <div class="contact-form">
        <fieldset>
        <h2>ENTRE EM CONTATO</h2>

        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" placeholder="Meu nome...">

            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="meuemail@example.com">

            <label for="subject">Assunto:</label>
            <textarea name="subject" id="subject" placeholder="Assunto..."></textarea>
        </div>

        <div class="form-buttons">
            <button type="reset">Limpar</button>
            <button type="submit">Enviar</button>
        </div>
    </fieldset>
    </div>
</section>