<!-- <app-header></app-header> -->

<main>
    <!-- Quem Somos -->
    <!-- <section class="about-container">
        <h2>Quem Somos?</h2>
        <p>No restaurante Sabor & Arte, a culinária se transforma em uma verdadeira obra de arte. Localizado em um ambiente acolhedor, nosso espaço é mais do que um simples restaurante; é um ponto de encontro onde sabores e criatividade se entrelaçam, proporcionando experiências gastronômicas únicas.</p>
    </section> -->

    <!-- <section class="cardapio-container">

      <h2>CARDÁPIO</h2>

      Loop dos cards
      <app-cardapio-card
        *ngFor="let image of cardapioImages"
        [imageSrc]="image.imageSrc"
        [imageAlt]="image.imageAlt"
        [name]="image.name"
        [price]="image.price">
      </app-cardapio-card>
    
    <button>Saiba mais</button>
  </section> -->

  <!-- <section class="promotion-container">
    <div class="promotion-background">
        <h2>PROMOÇÃO</h2>

        <div class="promotion-text">
          <span>Obtenha 2<br> pelo preço de 1</span>
        </div>
    </div>
  </section> -->

  <!-- Galeria -->

  
  <!-- Contato -->
  <!-- <app-contact-form></app-contact-form> -->

  <!-- Footer -->
  <!-- <app-footer></app-footer> -->

</main>


